@model IEnumerable<MyMVC.Models.Customer>

@{
    Layout = "~/Views/Shared/_SharedB2b.cshtml";
    ViewData["Title"] = "B2b Customers List Page";
    ViewData["PageId"] = "3";
}

<h1>View</h1>

<p>
    <a asp-action="CreateCustomer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCustomer", new {  id=item.Id }) |
                @Html.ActionLink("Details", "DetailsCustomer", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteCustomer", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
